* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ETopFont';
    src: url(/fonts/Oranienbaum.ttf);
}

@font-face {
    font-family: 'JTopFont';
    src: url(/fonts/Hannari.otf);
}


body {
    width: 100%;
    background: #f9f9f9;
}

/*
p {
    margin-bottom: 16px;
    line-height: 1.5;
    font-family: "ヒラギノ角ゴ Pro W3", sans-serif;
}
*/


.main-visual {
    width: 100%;
    /*height: 100vh;*/
    height: 100vh;
    background: #fff url(images/mainvisual1.png) 0 0 no-repeat;
    background-size: cover;

    /*margin-bottom: 32px;*/
    position: relative;

    /*position: absolute;*/
    /*padding-top: 60px;*/
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}

.logo img {
    width: 600px;
}




.area {
    width: 100%;
    height: 950px;
    background: #f7f3e980;
    padding-top: 60px;

}

.area h1 {
    font-family: ETopFont;
    font-size: 90px;
    color: #78422a;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 98px;
}

/*
.area h1 {
    margin-bottom: 56px;
}
*/
.container {
    display: flex;
    flex-wrap: wrap;
    font-family: 'JTopFont';
    color: #78422a;
    font-size: 35px;
    text-align: center;
    justify-content: center;
}

.item {
    width: 350px;
    color: #78422a;
    text-decoration: none;
    border: 2px solid #78422a;
    padding: 10px 0px;
    margin: 20px 36px;
}

.areaMap img {
    width: 100%;
}

/*エリアページ*/
.area-top {
    width: 100%;
    height: 1330px;
    background: #f7f3e9;
    top: 0px;
    /*padding-top: 36px;*/

}

.area-top h1 {
    font-family: JTopFont;
    font-size: 63px;
    color: #c73c60;
    /*margin-bottom: 10px;*/
    text-align: center;
    /*margin-bottom: 56px;*/
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*font-family: 'JTopFont';
    color: #78422a;
    font-size: 19px;*/
    /*text-align: center;*/
    justify-content: center;
}

.photo {
    /*width: 180px;
    color: #78422a;*/
    /*text-decoration: none;*/
    /*border: 1px solid #78422a;*/
    /*padding: 5px 0;*/
    margin: 110px 16px;
}

.detail {}

.detail p {}




.green {
    width: 100%;
    /*height: 100vh;*/
    height: 600px;
    background: #fff url(images/sp_detail.png) 0 0 no-repeat;
    background-size: cover;

    /*margin-bottom: 32px;*/
    position: relative;
    padding-top: 80px;
    padding-bottom: 60px;

}

.cream {
    width: 100%;
    height: 650px;
    background: #f7f3e9;
    padding-top: 100px;

}

.right {
    width: 550px;
    margin: 0 auto;

}

.left {
    width: 80%;
    margin: 0 auto;

}

.right-box {}

.left-box {
    float: left;
    width: 35%;
    margin-left: 10%;
    margin-right: 8%;
    transform: translateY(40%);
    /*-webkit- transform: translateY(-50%);*/
    /*width: 200px;
   margin-left: 400px;*/
}


h2 {
    font-family: 'JTopFont';
    font-size: 55px;
    color: #c73c60;
    /*padding-top: 60px;*/
    margin-bottom: 30px;
    
}

p {
    font-family: "游明朝", "YuMincho", serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #78422a;
}

.detail a{
    font-family: "游明朝", "YuMincho", serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 40px;
    color: #78422a;
}